# The Admin should also be the publisher of the nft_app smart contract
ADMIN_SECRET_KEY=

# A user address that is used as a receiver of txbs. Used for testing.
TEST_USER_ADDRESS=
TEST_USER_SECRET=

# This object id points to a test nft object owned by the admin account. Used for testing.
TEST_NFT_OBJECT_ID=
# This object id is arbitrary and should not exist. Used for testing.
TEST_NON_EXISTING_OBJECT_ID=
# This object id should exist in the network but not be owned by the admin account. Used for testing.
TEST_NOT_OWNED_BY_ADMIN_OBJECT_ID=

# Used for testing. Get this by publishing the move_examples/nft_app/
NFT_APP_PACKAGE_ID=
NFT_APP_ADMIN_CAP=

# Example: "https://fullnode.testnet.sui.io:443"
SUI_NODE=